body{
    text-align: center;
    background-color:hsl(12, 76%, 61%);
    align-items:left;
    justify-content: center;
}
.inputBlock{
    background-color:#FFAD86;
    padding: 10px;
    font-size:20px;
}

.timer{
    font-size: 50px;
}

.pic1{
    width: 700px;
    height: auto;
}

@media (max-width: 768px){
    .pic1{
        width:300px;
    }
    .header{
        font-size: 50px;
    }
}
